@import 'partials/custom';

@import '../bootstrap-css/functions';
@import '../bootstrap-css/variables';
@import '../bootstrap-css/mixins';
@import '../bootstrap-css/root';
@import '../bootstrap-css/reboot';
@import '../bootstrap-css/images';
@import '../bootstrap-css/grid';
@import '../bootstrap-css/forms';
@import '../bootstrap-css/buttons';
@import '../bootstrap-css/transitions';
@import '../bootstrap-css/dropdown';
@import '../bootstrap-css/button-group';
@import '../bootstrap-css/input-group';
@import '../bootstrap-css/custom-forms';
@import '../bootstrap-css/nav';
@import '../bootstrap-css/navbar';
@import '../bootstrap-css/card';
@import '../bootstrap-css/jumbotron';
@import '../bootstrap-css/alert';
@import '../bootstrap-css/media';
@import '../bootstrap-css/list-group';
@import '../bootstrap-css/close';
@import '../bootstrap-css/carousel';
@import '../bootstrap-css/utilities';
@import '../bootstrap-css/print';
@import '../bootstrap-css/card';

@import 'partials/layout';
@import 'partials/typography';
@import 'partials/nav';
@import 'partials/card';
