$primary: #f4f3ee;
$secondary: #f54b8d;
$dark-text: #262525;
$background-color: #e5e5e5;
$navbar-dark-color: $dark-text;
$navbar-dark-active-color: $secondary;

@media (max-width: 767px) {
  .card {
    width: 10vw;
    height: 10vw;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 0;
    flex-basis: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .col-md-6 {
    -ms-flex-preferred-size: 0;
    flex-basis: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
