$primary: #f4f3ee;
$secondary: #f54b8d;
$dark: #262525;
// $navbar-dark-color: $primary;
// $navbar-dark-active-color: $primary;

$background-colour: #e5e5e5;

//Grid

$grid-columns: 4;
$grid-gutter-width: 30px;
$grid-row-columns: 2;
