.navbar {
  background-color: $primary !important;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
  color: $dark-text;
  font-size: 15px;
}

.navbar-dark .navbar-nav .active > .nav-link {
  color: $secondary;
}
.navbar-collapse {
  z-index: 1;
}
