h1,
h2,
h3,
h4 {
  font-family: 'Archivo Narrow', sans-serif;
}

h1 {
  font-size: 2.5em;
  font-weight: 300;
  margin: 0;
  color: $dark;
}

p,
a {
  font-family: 'Open Sans', sans-serif;
  color: $dark;
}
